.gradient-word-first {
    background: linear-gradient(270deg, #1A3281 -8.98%, #1FD1F9 50.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-word-two {
    background: linear-gradient(90deg, #1FD1F9 75.74%, #07463E 99.95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}